.cms-elr-icon__neutral {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QkVES8Cmu03XQAAAK5JREFUSMftljEKAjEURGf+CjbbxbR6K71ELqa30jbapbFY18YvWVnBlf8XBKdKAnmTDIEJ8VCJEW3OOsVxH3pM0GZ34RiLrwtTwe+MlElL+JgJv43kUxN6wGsTKTHCSyVG0Ov0KoGzft9goYP19mwKPh1WvjfgbTlzRACArrOhNg16uQ4NNLP/M53fICShFzwkodQ1aa02Z//CefZBXdrmlela+lbflpCEur9m3QGpfFWQLyAE4wAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
	background-position: center;
	width: 24px; /*or your image's width*/
	height: 24px; /*or your image's height*/
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	display: inline-block;
}