.cms-elr-icon__notapproved {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QkGER8s29H0EAAAAbVJREFUSMe11jFL3VAYxvFfcqODBEQwd3artktXcZVC+wmKFDro0A/QpZMWBxe/QSehLR1cdLBQ3F0LUhUUwfksVwjCxSbp4LnlVizUmvtsySH/95wnb/K8iaiyKOQhGLrOMIslPMMcJuLyFY7xDZ9xkofw8y5WcvtGWRQdPMEGXvg37eEdfuQhVMPM5BZ8Ai/xAan76Rpv8CUP4WpQJBk61gTe4r2HaRWbgyIDi1K8wpZ29Bof8xDqpCwKeIzvGGupwDWe4ihFJ77QtuAiawOdpCyK2dhyo9BchiVVRb9PkrSDbRrGx8mypQyL6cyMdGHhZqENJYn64EB9cbGo7HZ7/bW1pm3119ebstvtpZhMpqdbNz+ZmoLJ1IiV4bLp9SZBVbVD7XQ0vR5cZprmqNrZme+fn1PX7RRIU/XhIU1zlGG/Pjubr4+P223TsTGybH/kH1qKU+yOAL6L09H/7GLYnGClxd2vxBi9Sa08hBrbMSweqlVsR6Y0WiQm0CaW4xH/x5bl4TQri0Kah+BWka3o39494Hvxma1heB7CH5l819jyKA4Bz/8ytnzFp9iJ1dDw8Jv1C0JYCAsVGV23AAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
	background-position: center;
	width: 24px; /*or your image's width*/
	height: 24px; /*or your image's height*/
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	display: inline-block;
}